 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



.header-content-wrapper { 
    display: flex;
    justify-content: space-between;
    background-color: black;
    // align-items: center;
    font-family: "Bebas Neue", sans-serif;
    // width: 100%;
    border-bottom: 1px solid silver;
}

.header-btn-container { 
    display: flex;
    // justify-content: center;
    align-items: flex-end;
    gap: 2em;
    
    // gap: 4em;
}


.header-btn-container button { 
    // display: flex;
    // align-items: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    // padding: 0.5em 1em;
    // padding: 0.3em;
    // border-radius: 12%;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

.header-vault-bjj-logo { 
    width: 12em;
    // vertical-align: middle;
    // margin: 0;
    // padding: 0;
    position: relative;
    bottom: 2em;
    // opacity: 0;
    animation: fadeIn 3s ease-in-out forwards;
    // padding-bottom: 2em;
}

.header-insta-fb-links-container { 
    display: flex;
    align-items: flex-start;
    gap: 1em;
    padding: 0.5em;
    // opacity: 0;
    animation: fadeIn 3s ease-in-out forwards;
}

.header-insta-fb-links-container img { 
    width: 3em;
}

.header-btn-container button:nth-child(1) { 
    animation-delay: .5s;
}

.header-btn-container button:nth-child(2) { 
    animation-delay: 1s;
}

.header-btn-container button:nth-child(3) { 
    animation-delay: 1.5s;
} 

.header-btn-container button:nth-child(4) { 
    animation-delay: 2s;
}

.header-btn-container button:nth-child(5) { 
    animation-delay: 2.5s;
}

.header-btn-container button:nth-child(6) { 
    animation-delay: 3s;
} 



@keyframes fadeIn { 
    0% { 
        opacity: 0;
    }

    100% { 
        opacity: 1;
    }
}


@media (max-width: 1070px) { 
    .header-content-wrapper { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 768px) { 
    .header-btn-container { 
        display: flex;
        gap: .7em;
        // flex-direction: column;
    }

    .header-btn-container button { 
        font-size: 3.5vw;
        // border-right: 1px solid silver;
        // padding: .2em;
        // text-align: center;
    }

    .header-insta-fb-links-container img { 
        width: 2.3em;
    }

    
}















































// .header-content-wrapper { 
//     position: relative;
//     display: flex;
//     justify-content: center;
//     background-image: url('../assets/hero-bg.jpg');
//     background-size: cover;
//     background-position: 50% 35%;

// } 

// .header-content-wrapper::before {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.7); /* Black color with 50% opacity */
// }

// .logo-container { 
//     display: flex;
//     align-items: center;
//     z-index: 1;
// }

// .logo-container img { 
//     width: 14em;
// }

// .header-btn-container { 
//     width: 100%;
//     padding: 1em;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     z-index: 1;
// }

// .header-btn-container button { 
//     font-family: "Bebas Neue", sans-serif;
//     font-weight: 400;
//     font-style: normal;
//     font-size: 2rem;
//     border-radius: 10%;
// }


// .logo-title-links-toprow-container { 
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     color: white;
//     font-family: "Bebas Neue", sans-serif;
//     font-weight: 400;
//     font-style: normal;
//     z-index: 1;
// }

// .logo-title-links-toprow-container h1 { 
//     font-size: 7rem;
// }

// .logo-title-links-toprow-container h2 { 
//     font-size: 3rem;
// }

// .logo-title-links-toprow-container h4 { 
//     font-size: 2rem;
// }